    <h1>Edit Perfil</h1>
<h1>Hello, {{username}}</h1>
<form action='/edit-profile/{{username}}' method="post">


<p>
<label for="email">Email</label>
<input type='text' name='email' id='email' value=''/>
</p>

<button type="submit">Edit Profile</button>


</form>