{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Project 02</title>
</head>
<body> --}}
    <section class="head">
        <div class="containerNav">
            <nav class="navBar">
                <img src="/images/logo.png" alt="logo" class="logo">
                <form action="/auth/login" class="login" method="POST">
                    <input type="text" placeholder="Email" name="email">
                    <input type="password" placeholder="Password" name="password">
                    <button type="submit">Login</button>
                </form>
                <a href="/auth/signup" class="lnkSup">Sign up</a>
            </nav>
        </div>
    </section>
    <section class="body">
        <img src="" alt="" class="vetor">
        <h1 class="tlt">The planner you <span class="i">really</span> need!</h1>
        <p class="para"></p>
    </section>
    <section class="f-container">
        <footer class="footer">
            <p class="txt">Made with love by: Camila && Juliana</p>
        </footer>
    </section>
    <form action="/auth/logout" method="post">
<a href="/logout">Logout</a>
</form>
{{!--     
</body>
</html> --}}
