<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"/>
  </head>

  <body>
    <div class="containerNav">
      <nav class="navBar">
          <a href="/" class="lnkHome"><img src="/images/logo.png" alt="logo" id="logo"/></a>
      </nav>
    </div>
    {{{body}}}

    <div class="f-container">
    <footer>
      <p class="txt">Made with <span class="red"><b>love</b></span> by: Camila && Juliana</p>
    </footer>
    </div>
    <script src="/js/script.js"></script>
  </body>

</html>