<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planner</title>
</head>
<body>
    <h1>Planner page</h1>
    {{#each planner}}
        <p>Title: {{title}}</p>
        <p>Date DD/MM/YY: {{date}}</p>
        {{!-- <form action='/edit-task/{{_id}}' method="post">   --}}
        <a href='/task/{{_id}}'>Tasks View</a>
        {{!-- </form> --}}
    {{/each}}
</body>

</html>