<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="containerNav">
        <nav class="navBar">
             <img src="/images/logo.png" alt="logo" id="logo">
         
            <a href="/auth/logout" class="lnkOut">Logout</a>

        </nav>
    </div>

<h1>Tela para criar as tasks</h1>

</body>
</html>
