<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body>

<h1>Create a Task</h1>

<form action='/create' method="post">

<p>
<label for="title">Task Title</label>
<input type='text' name='title' id='title'/>
</p>

<label for="description">Task Description</label>
<textarea name='description' id='description'
 cols='30' rows='10'></textarea>

 <p>
<label for="date">Task Data</label>
<input type='date' name='date' id='date'/>
</p>

<p>
<label for="type">Task Type</label>
<input type='text' name='type' id='type'/>
</p>

<p>
<label for="status">Task Status</label>
<input type='text' name='status' id='status'/>
</p>

<p>
<label for="address">Task Location</label>
<input type='text' name='address' id='address'/>
</p>

<button type='submit'>Add a Task</button>

</form>

<form action="/edit-profile" method="post">
<a href="/edit-profile">Edit Perfil</a>
</form>

<form action="/auth/logout" method="post">
<a href="/auth/logout">Logout</a>
</form>

